<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> 销售管理 <span>查看</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel">
    <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'salesman.name' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @salesman.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'salesman.members' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, "#{@salesman.members.count}张", readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'salesman.sales' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, "#{@salesman.members.map{|member| member.card.price}.reduce(:+)}", readonly: true, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="panel-footer">
      <%= link_to '返回', salesmen_path, class: 'btn btn-default' %>&nbsp;
      <%= link_to '编辑', edit_salesmen_path(@salesman), class: 'btn btn-primary' %>&nbsp;
    </div>
  </div>
</div>