<div class="pageheader">
  <h2><i class="fa fa-list"></i> 查找 <span>列表</span></h2>
</div>
<div class="contentpanel">
  <div class="table-responsive">
    <table class="table table-primary table-bordered table-striped mb30">
      <thead>
        <tr>
          <th><%= brac_arat 'member.number' %></th>
          <th><%= brac_arat 'user.name' %></th>
          <th><%= brac_arat 'user.phone' %></th>
          <th><%= brac_arat 'card.type' %></th>
          <th><%= brac_arat 'card.name' %></th>
          <th><%= brac_arat 'member.balance' %></th>
          <th><%= brac_arat 'member.expired_at' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @memberships.each do |membership| %>
        <tr>
          <td>No. <%= membership.member.number %></td>
          <td><%= membership.user.name %></td>
          <td><%= membership.user.phone %></td>
          <td><%= te_card_type(membership.member.card.type) %></td>
          <td><%= membership.member.card.name %></td>
          <td><%= membership.member.balance %></td>
          <td><%= brac_date(membership.member.expired_at) %></td>
          <td class="table-action">
            <%= link_to raw('<i class="fa fa-file-text-o"></i>'), membership.member %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>