<div class="pageheader">
  <h2><i class="fa fa-list"></i> 教练管理 <span>列表</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="people-list">
    <div class="row">
      <% @coaches.each do |coach| %>
      <div class="col-md-6">
        <div class="people-item">
          <div class="media">
            <%= link_to image_tag((coach.portrait.w300_h300_fl_q80.url || 'bracket/extension/user_portrait_110px@2x.jpg'), class: 'thumbnail media-object'), coach, class: 'pull-left' %>
            <div class="media-body">
              <h4 class="person-name"><%= link_to coach.name, coach %></h4>
              <div class="text-muted"><i class="fa fa-phone"></i> <%= coach.phone %></div>
              <div class="text-muted"><i class="fa fa-tag"></i> <%= coach.title %></div>
              <div class="text-muted">
                <% if coach.featured? %>
                <i class="fa fa-star"></i> 精英教练
                <% else %>
                <i class="fa fa-star-o"></i> 普通教练
                <% end %>
              </div>
              <div class="text-muted">课程起售价：<%= brac_price(coach.starting_price) %></div>
              <ul class="social-list">
                <% coach.courses.order(created_at: :desc).first(8).each do |course| %>
                <li><%= link_to (course.type_open? ? '公' : '私'), course, data: { toggle: 'tooltip', placement: 'top' }, title: course.name, class: 'tooltips' %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>