<div class="pageheader">
  <h2><i class="fa fa-pencil-square-o"></i> 消费单管理 <span>新建</span></h2>
</div>
<div class="contentpanel">
  <%= render "op/commons/error_messages", target: @order %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">打位信息</h4>
    </div>
    <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
      <div class="panel-body panel-body-nopadding">
          <% if @tee %>
          <div class="form-group">
            <label class="col-sm-3 control-label"><%= brac_arat 'order.tee' %></label>
            <div class="col-sm-6">
              <%= text_field_tag nil, @tee.name, readonly: true, class: 'form-control' %>
            </div>
          </div>
          <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">会员身份</h4>
        </div>
        <%= form_for @order, html: { class: 'form-horizontal form-bordered' } do |f| %>
          <%= hidden_field_tag :tee_uuid, nil, value: @tee.uuid if @tee %>
          <div class="panel-body panel-body-nopadding">
            <div class="form-group">
              <label class="col-sm-3 control-label">会员</label>
              <div class="col-sm-8">
                <%= f.select :user_id, user_options_for_create_order, prompt: '请选择' %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 text-center">
                <%= f.submit '创建', class: 'btn btn-primary' %>&nbsp;
                <%= link_to '返回', dashboard_path, class: 'btn btn-default' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">访客身份</h4>
        </div>
        <%= form_for @nar_form, url: @order, html: { class: 'form-horizontal form-bordered' } do |f| %>
          <%= hidden_field_tag :tee_uuid, nil, value: @tee.uuid if @tee %>
          <div class="panel-body panel-body-nopadding">
            <div class="form-group">
              <label class="col-sm-3 control-label"><%= brac_amat 'op/create_order_with_visitor.phone' %></label>
              <div class="col-sm-8">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon">+86</span>
                  <%= f.text_field :phone, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><%= brac_amat 'op/create_order_with_visitor.name' %></label>
              <div class="col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon"><%= brac_amat 'op/create_order_with_visitor.last_name' %></span>
                  <%= f.text_field :last_name, class: 'form-control' %>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="input-group">
                  <span class="input-group-addon"><%= brac_amat 'op/create_order_with_visitor.first_name' %></span>
                  <%= f.text_field :first_name, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"><%= brac_amat 'op/create_order_with_visitor.gender' %> <span class="asterisk">*</span></label>
              <div class="col-sm-6">
                <div class="rdio rdio-default mt5">
                  <%= f.radio_button :gender, :male, checked: true %>
                  <label for="op_create_order_with_visitor_gender_male"><%= brac_amat 'op/create_order_with_visitor.male' %></label>
                </div>
                <div class="rdio rdio-default">
                  <%= f.radio_button :gender, :female %>
                  <label for="op_create_order_with_visitor_gender_female"><%= brac_amat 'op/create_order_with_visitor.female' %></label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12 text-center">
                <%= f.submit '创建', class: 'btn btn-primary' %>&nbsp;
                <%= link_to '返回', dashboard_path, class: 'btn btn-default' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    jQuery(document).ready(function(){
      $('#order_user_id').chosen({'width': '100%', 'white-space': 'nowrap'});
    });
  </script>
<% end %>