<div class="pageheader">
  <h2><i class="fa fa-list"></i> 消费单管理 <span>结账</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
          <div class="col-sm-6">
            <h5 class="subtitle mb10">顾客信息</h5>
            <address>
              <strong>姓名：</strong><%= @tab.user.name %><br>
              <strong>电话：</strong><%= @tab.user.phone %><br>
              <strong>身份：</strong><%= @tab.user.member_of?(@current_club) ? '会员' : '访客' %><br>
            </address>
          </div>
          <div class="col-sm-6 text-right">
            <h5 class="subtitle mb10">消费单信息</h5>
            <h4 class="text-primary">INV-000464</h4>
            <p><strong>开单时间：</strong> <%= @tab.created_at.strftime('%Y-%m-%d %H:%M') %></p>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-invoice">
          <thead>
            <tr>
              <th>名称</th>
              <th>数量</th>
              <th>单价</th>
              <th>小计</th>
            </tr>
          </thead>
          <tbody>
            <% @tab.playing_items.each do |playing_item| %>
            <tr>
              <td>
                <div class="text-primary"><strong><%= playing_item.vacancy.name %>打位</strong> - <%= brac_seconds(playing_item.seconds) %> / <%= playing_item.total_balls %>颗球</div>
              </td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
            </tr>
            <% end %>
            <% @tab.provision_items.each do |provision_item| %>
            <tr>
              <td>
                <div class="text-success"><strong><%= provision_item.provision.category.name %> - <%= provision_item.provision.name %></strong></div>
              </td>
              <td><%= provision_item.quantity %></td>
              <td><%= brac_price(provision_item.price) %></td>
              <td><%= brac_price(provision_item.total_price) %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <table class="table table-total">
        <tbody>
          <tr>
            <td><strong>Sub Total :</strong></td>
            <td>$849.00</td>
          </tr>
          <tr>
            <td><strong>VAT :</strong></td>
            <td>$67.23</td>
          </tr>
          <tr>
            <td><strong>TOTAL :</strong></td>
            <td>$916.23</td>
          </tr>
        </tbody>
      </table>
      <div class="text-right btn-invoice">
        <button class="btn btn-primary mr5"><i class="fa fa-rmb mr5"></i> 付款</button>
        <button class="btn btn-white"><i class="fa fa-print mr5"></i> 打印</button>
      </div>
      <div class="mb40"></div>
      <div class="well">
        Thank you for your business. Please make sure all cheques payable to <strong>ThemeForest Web Services, Inc.</strong> Account No. 54353535
      </div>
    </div>
  </div>
</div>