<div class="pageheader">
  <h2><i class="fa fa-list"></i> 消费单管理 <span>结账</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
          <div class="col-sm-3">
            <div class="well">
              <p><strong>姓名：</strong><%= @tab.user.name %></p>
              <p><strong>电话：</strong><%= @tab.user.phone %></p>
              <p><strong>身份：</strong><%= @tab.user.member_of?(@current_club) ? '会员' : '访客' %></p>
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-3 text-right">
            <h4 class="mb10">消费单信息</h4>
            <h4 class="text-primary">No. <%= @tab.id.to_s.rjust(6, '0') %></h4>
            <p><strong>开单时间：</strong> <%= @tab.created_at.strftime('%Y-%m-%d %H:%M') %></p>
            <p><%= link_to '返回消费单', @tab %></p>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-checkout">
          <thead>
            <tr>
              <th>类型</th>
              <th>内容</th>
              <th>单价</th>
              <th>数量</th>
              <th>小计</th>
              <th>付款方式</th>
            </tr>
          </thead>
          <tbody>
            <% @playing_items.each do |playing_item| %>
            <tr>
              <td><strong class="text-primary">打球</strong></td>
              <td>
                <div class="text-primary"><%= playing_item.vacancy.name %>打位 - <%= brac_seconds(playing_item.seconds) %> / <%= playing_item.total_balls %>颗球</div>
              </td>
              <td>-</td>
              <td>-</td>
              <td>
                <% if playing_item.payment_method.blank? %>
                -
                <% elsif [:by_ball_member, :by_time_member, :unlimited_member, :stored_member].include?(playing_item.payment_method) %>
                -
                <% else %>
                <%= brac_price(playing_item.total_price) %>
                <% end %>
              </td>
              <td><%= link_to payment_method_tag(playing_item), '', data: { toggle: :modal, target: ".playing-item-#{playing_item.id}-payment-method" } %></td>
            </tr>
            <% end %>
            <% @provision_items.each do |provision_item| %>
            <tr>
              <td><strong class="text-success">餐饮</strong></td>
              <td>
                <div class="text-success"><%= provision_item.provision.category.name %> - <%= provision_item.provision.name %></div>
              </td>
              <td><%= brac_price(provision_item.price) %></td>
              <td><%= provision_item.quantity %></td>
              <td><%= brac_price(provision_item.total_price) %></td>
              <td><%= link_to payment_method_tag(provision_item), '', data: { toggle: :modal, target: ".provision-item-#{provision_item.id}-payment-method-modal" } %></td>
            </tr>
            <% end %>
            <% @extra_items.each do |extra_item| %>
            <tr>
              <td><strong class="text-warning">其它</strong></td>
              <td>
                <div class="text-warning">
                  <%= te_extra_item_type(extra_item.type) %>
                </div>
                <% unless extra_item.remarks.blank? %><div class="well well-sm mt5 mb0"><%= extra_item.remarks %></div><% end %>
              </td>
              <td>-</td>
              <td>-</td>
              <td><%= brac_price(extra_item.price) %></td>
              <td><%= link_to payment_method_tag(extra_item), '', data: { toggle: :modal, target: ".extra-item-#{extra_item.id}-payment-method-modal" } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <table class="table table-total">
        <tbody>
          <tr>
            <td><strong>余额消费 :</strong></td>
            <td></td>
          </tr>
          <tr>
            <td><strong>现金消费 :</strong></td>
            <td><%= brac_price(@tab.cash) %></td>
          </tr>
        </tbody>
      </table>
      <div class="text-right btn-invoice">
        <div class="btn-group mt10 mr5">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-rmb mr5"></i> 确认 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to '手机确认' %></li>
            <li><%= link_to '前台确认' %></li>
          </ul>
        </div>
        <button class="btn btn-white"><i class="fa fa-print mr5"></i> 打印</button>
      </div>
    </div>
  </div>
</div>
<% @playing_items.each do |playing_item| %>
<div class="modal fade playing-item-<%= playing_item.id %>-payment-method" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">付款方式</h4>
      </div>
      <div class="modal-body">
        <%= form_for playing_item, url: payment_method_playing_item_path(playing_item) do |f| %>
        <div class="row">
          <div class="col-sm-4">
            <table class="table table-striped table-bordered table-primary">
              <thead>
                <tr>
                  <th colspan="2">计费方式</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="rdio rdio-default">
                      <%= f.radio_button :charing_type, :by_ball, id: "playing_item_#{playing_item.id}_charing_type_by_ball" %>
                      <label for="playing_item_<%= playing_item.id %>_charing_type_by_ball">计球</label>
                    </div>
                  </td>
                  <td>
                    <div class="rdio rdio-default">
                      <%= f.radio_button :charing_type, :by_time, id: "playing_item_#{playing_item.id}_charing_type_by_time" %>
                      <label for="playing_item_<%= playing_item.id %>_charing_type_by_time">计时</label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="table table-striped table-bordered table-primary">
              <thead>
                <tr>
                  <th colspan="2">消费明细</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>类型：</td>
                  <td>打球</td>
                </tr>
                <tr>
                  <td>打位：</td>
                  <td><%= playing_item.vacancy.name %>打位</td>
                </tr>
                <tr>
                  <td>内容：</td>
                  <td><%= brac_seconds(playing_item.seconds) %> / <%= playing_item.total_balls %>颗球</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-8">
            <div id="playing_item_<%= playing_item.id %>_payment_method_tip">
              <table class="table table-striped table-bordered table-primary">
                <thead>
                  <tr>
                    <th>付款方式</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>请先选择计费方式</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div id="playing_item_<%= playing_item.id %>_payment_method_form" class="hidden">
              <table class="table table-striped table-bordered table-primary">
                <thead>
                  <tr>
                    <th colspan="2">付款方式</th>
                  </tr>
                </thead>
                <tbody>
                  <% unless @members.blank? %>
                  <tr>
                    <td colspan="2">
                      <% @members.each do |member| %>
                      <div class="well well-sm<%= " playing-item-#{playing_item.id}-member-by-ball" if member.card.type_by_ball? %><%= " playing-item-#{playing_item.id}-member-by-time" if member.card.type_by_time? %>">
                        <div class="row">
                          <div class="col-sm-8">
                            <div class="rdio rdio-default">
                              <%= f.radio_button :member_id, member.id, id: "playing_item_#{playing_item.id}_member_id_#{member.id}" %>
                              <label for="playing_item_<%= playing_item.id %>_member_id_<%= member.id %>"><%= member.card.name %></label>
                            </div>
                          </div>
                          <div class="col-sm-4 text-right">
                            <span>No. <%= member.number %></span>
                          </div>
                        </div>
                        <hr class="mt5 mb10" />
                        <div class="row">
                          <div class="col-sm-6">
                            <span>有效期：<%= member.expired_at.strftime('%Y-%m-%d') %></span>
                          </div>
                          <div class="col-sm-6 text-right">
                            <span>余额：<%= member.balance %></span>
                          </div>
                        </div>
                      </div>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :credit_card, id: "playing_item_#{playing_item.id}_payment_method_credit_card" %>
                        <label for="playing_item_<%= playing_item.id %>_payment_method_credit_card">信用卡</label>
                      </div>
                    </td>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :cash, id: "playing_item_#{playing_item.id}_payment_method_cash" %>
                        <label for="playing_item_<%= playing_item.id %>_payment_method_cash">现金</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :check, id: "playing_item_#{playing_item.id}_payment_method_check" %>
                        <label for="playing_item_<%= playing_item.id %>_payment_method_check">支票</label>
                      </div>
                    </td>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :on_account, id: "playing_item_#{playing_item.id}_payment_method_on_account" %>
                        <label for="playing_item_<%= playing_item.id %>_payment_method_on_account">挂账</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :signing, id: "playing_item_#{playing_item.id}_payment_method_signing" %>
                        <label for="playing_item_<%= playing_item.id %>_payment_method_signing">签单</label>
                      </div>
                    </td>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :coupon, id: "playing_item_#{playing_item.id}_payment_method_coupon" %>
                        <label for="playing_item_<%= playing_item.id %>_payment_method_coupon">抵用卷</label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="ckbox ckbox-primary">
                <%= f.check_box :effect_all, id: "playing_item_#{playing_item.id}_payment_method_effect_all" %>
                <label for="playing_item_<%= playing_item.id %>_payment_method_effect_all">全部打球消费用此付款方式</label>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="submitPaymentMethodForm('playing', '<%= playing_item.id %>')">确定</button>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    jQuery(document).ready(function() {
      $('#playing_item_<%= playing_item.id %>_charing_type_by_ball').change(function (){
        $('#playing_item_<%= playing_item.id %>_payment_method_tip').addClass('hidden');
        $('#playing_item_<%= playing_item.id %>_payment_method_form').removeClass('hidden');
        $('.playing-item-<%= playing_item.id %>-member-by-time').addClass('hidden');
        $('.playing-item-<%= playing_item.id %>-member-by-ball').removeClass('hidden');
        $('input[name=playing_item\\[payment_method\\]]').prop('checked', false);
        $('input[name=playing_item\\[member_id\\]]').prop('checked', false);
      });
      $('#playing_item_<%= playing_item.id %>_charing_type_by_time').change(function (){
        $('#playing_item_<%= playing_item.id %>_payment_method_tip').addClass('hidden');
        $('#playing_item_<%= playing_item.id %>_payment_method_form').removeClass('hidden');
        $('.playing-item-<%= playing_item.id %>-member-by-ball').addClass('hidden');
        $('.playing-item-<%= playing_item.id %>-member-by-time').removeClass('hidden');
        $('input[name=playing_item\\[payment_method\\]]').prop('checked', false);
        $('input[name=playing_item\\[member_id\\]]').prop('checked', false);
      });
      $('.playing-item-<%= playing_item.id %>-payment-method').on('hidden.bs.modal', function () {
        $('#playing_item_<%= playing_item.id %>_payment_method_tip').removeClass('hidden');
        $('#playing_item_<%= playing_item.id %>_payment_method_form').addClass('hidden');
      })
    });
  </script>
<% end %>
<% end %>
<% @provision_items.each do |provision_item| %>
<div class="modal fade provision-item-<%= provision_item.id %>-payment-method-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">付款方式</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            <table class="table table-striped table-bordered table-primary">
              <thead>
                <tr>
                  <th colspan="2">消费明细</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>类型：</td>
                  <td>餐饮</td>
                </tr>
                <tr>
                  <td>内容：</td>
                  <td><%= provision_item.provision.category.name %> - <%= provision_item.provision.name %></td>
                </tr>
                <tr>
                  <td>单价：</td>
                  <td><%= brac_price(provision_item.price) %></td>
                </tr>
                <tr>
                  <td>数量：</td>
                  <td><%= provision_item.quantity %></td>
                </tr>
                <tr>
                  <td>小计：</td>
                  <td><%= brac_price(provision_item.total_price) %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-8">
            <%= form_for provision_item, url: payment_method_provision_item_path(provision_item) do |f| %>
              <table class="table table-striped table-bordered table-primary">
                <thead>
                  <tr>
                    <th colspan="2">付款方式</th>
                  </tr>
                </thead>
                <tbody>
                  <% unless @stored_card_members.blank? %>
                  <tr>
                    <td colspan="2">
                      <% @stored_card_members.each do |member| %>
                      <div class="well well-sm">
                        <div class="row">
                          <div class="col-sm-8">
                            <div class="rdio rdio-default">
                              <%= f.radio_button :member_id, member.id, id: "provision_item_#{provision_item.id}_member_id_#{member.id}" %>
                              <label for="provision_item_<%= provision_item.id %>_member_id_<%= member.id %>"><%= member.card.name %></label>
                            </div>
                          </div>
                          <div class="col-sm-4 text-right">
                            <span>No. <%= member.number %></span>
                          </div>
                        </div>
                        <hr class="mt5 mb10" />
                        <div class="row">
                          <div class="col-sm-6">
                            <span>有效期：<%= member.expired_at.strftime('%Y-%m-%d') %></span>
                          </div>
                          <div class="col-sm-6 text-right">
                            <span>余额：<%= member.deposit %>元</span>
                          </div>
                        </div>
                      </div>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :credit_card, id: "provision_item_#{provision_item.id}_payment_method_credit_card" %>
                        <label for="provision_item_<%= provision_item.id %>_payment_method_credit_card">信用卡</label>
                      </div>
                    </td>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :cash, id: "provision_item_#{provision_item.id}_payment_method_cash" %>
                        <label for="provision_item_<%= provision_item.id %>_payment_method_cash">现金</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :check, id: "provision_item_#{provision_item.id}_payment_method_check" %>
                        <label for="provision_item_<%= provision_item.id %>_payment_method_check">支票</label>
                      </div>
                    </td>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :on_account, id: "provision_item_#{provision_item.id}_payment_method_on_account" %>
                        <label for="provision_item_<%= provision_item.id %>_payment_method_on_account">挂账</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :signing, id: "provision_item_#{provision_item.id}_payment_method_signing" %>
                        <label for="provision_item_<%= provision_item.id %>_payment_method_signing">签单</label>
                      </div>
                    </td>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :coupon, id: "provision_item_#{provision_item.id}_payment_method_coupon" %>
                        <label for="provision_item_<%= provision_item.id %>_payment_method_coupon">抵用卷</label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="ckbox ckbox-primary">
                <%= f.check_box :effect_all, id: "provision_item_#{provision_item.id}_payment_method_effect_all" %>
                <label for="provision_item_<%= provision_item.id %>_payment_method_effect_all">全部餐饮消费用此付款方式</label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="submitPaymentMethodForm('provision', '<%= provision_item.id %>')">确定</button>
      </div>
    </div>
  </div>
</div>
<% end %>
<% @extra_items.each do |extra_item| %>
<div class="modal fade extra-item-<%= extra_item.id %>-payment-method-modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">付款方式</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            <table class="table table-striped table-bordered table-primary">
              <thead>
                <tr>
                  <th colspan="2">消费明细</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>类型：</td>
                  <td>其它</td>
                </tr>
                <tr>
                  <td>内容：</td>
                  <td><%= te_extra_item_type(extra_item.type) %></td>
                </tr>
                <tr>
                  <td>备注：</td>
                  <td><%= extra_item.remarks %></td>
                </tr>
                <tr>
                  <td>小计：</td>
                  <td><%= brac_price(extra_item.price) %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-8">
            <%= form_for extra_item, url: payment_method_extra_item_path(extra_item) do |f| %>
              <table class="table table-striped table-bordered table-primary">
                <thead>
                  <tr>
                    <th colspan="2">付款方式</th>
                  </tr>
                </thead>
                <tbody>
                  <% unless @stored_card_members.blank? %>
                  <tr>
                    <td colspan="2">
                      <% @stored_card_members.each do |member| %>
                      <div class="well well-sm">
                        <div class="row">
                          <div class="col-sm-8">
                            <div class="rdio rdio-default">
                              <%= f.radio_button :member_id, member.id, id: "extra_item_#{extra_item.id}_member_id_#{member.id}" %>
                              <label for="extra_item_<%= extra_item.id %>_member_id_<%= member.id %>"><%= member.card.name %></label>
                            </div>
                          </div>
                          <div class="col-sm-4 text-right">
                            <span>No. <%= member.number %></span>
                          </div>
                        </div>
                        <hr class="mt5 mb10" />
                        <div class="row">
                          <div class="col-sm-6">
                            <span>有效期：<%= member.expired_at.strftime('%Y-%m-%d') %></span>
                          </div>
                          <div class="col-sm-6 text-right">
                            <span>余额：<%= member.deposit %>元</span>
                          </div>
                        </div>
                      </div>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                  <tr>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :credit_card, id: "extra_item_#{extra_item.id}_payment_method_credit_card" %>
                        <label for="extra_item_<%= extra_item.id %>_payment_method_credit_card">信用卡</label>
                      </div>
                    </td>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :cash, id: "extra_item_#{extra_item.id}_payment_method_cash" %>
                        <label for="extra_item_<%= extra_item.id %>_payment_method_cash">现金</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :check, id: "extra_item_#{extra_item.id}_payment_method_check" %>
                        <label for="extra_item_<%= extra_item.id %>_payment_method_check">支票</label>
                      </div>
                    </td>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :on_account, id: "extra_item_#{extra_item.id}_payment_method_on_account" %>
                        <label for="extra_item_<%= extra_item.id %>_payment_method_on_account">挂账</label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :signing, id: "extra_item_#{extra_item.id}_payment_method_signing" %>
                        <label for="extra_item_<%= extra_item.id %>_payment_method_signing">签单</label>
                      </div>
                    </td>
                    <td>
                      <div class="rdio rdio-default">
                        <%= f.radio_button :payment_method, :coupon, id: "extra_item_#{extra_item.id}_payment_method_coupon" %>
                        <label for="extra_item_<%= extra_item.id %>_payment_method_coupon">抵用卷</label>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="ckbox ckbox-primary">
                <%= f.check_box :effect_all, id: "extra_item_#{extra_item.id}_payment_method_effect_all" %>
                <label for="extra_item_<%= extra_item.id %>_payment_method_effect_all">全部其它消费用此付款方式</label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="submitPaymentMethodForm('extra', '<%= extra_item.id %>')">确定</button>
      </div>
    </div>
  </div>
</div>
<% end %>
<% content_for :javascript do %>
  <script>
    function submitPaymentMethodForm(type, id) {
      $('#edit_' + type + '_item_' + id).submit();
    }
    jQuery(document).ready(function() {
      $('[data-toggle="modal"]').on('click', function () {
          $('.modal input[type=radio]').prop('checked', false);
      })
      $('input[type=radio][name=playing_item\\[member_id\\]]').change(function (){
        $('input[type=radio][name=playing_item\\[payment_method\\]]').prop('checked', false);
      });
      $('input[type=radio][name=playing_item\\[payment_method\\]]').change(function (){
        $('input[type=radio][name=playing_item\\[member_id\\]]').prop('checked', false);
      });
      $('input[type=radio][name=provision_item\\[member_id\\]]').change(function (){
        $('input[type=radio][name=provision_item\\[payment_method\\]]').prop('checked', false);
      });
      $('input[type=radio][name=provision_item\\[payment_method\\]]').change(function (){
        $('input[type=radio][name=provision_item\\[member_id\\]]').prop('checked', false);
      });
      $('input[type=radio][name=extra_item\\[member_id\\]]').change(function (){
        $('input[type=radio][name=extra_item\\[payment_method\\]]').prop('checked', false);
      });
      $('input[type=radio][name=extra_item\\[payment_method\\]]').change(function (){
        $('input[type=radio][name=extra_item\\[member_id\\]]').prop('checked', false);
      });
    });
  </script>
<% end %>