<html>
  <head>
    <style>
    * {
      margin: 0;
      padding: 0;
      font-family: "SimSun";
    }
    body {
      height: 400px;
    }
    table.profile {
      margin: 116px auto 0;
      width: 700px;
    }
    table.profile td {
      height: 30px;
    }
    table.profile td.left {
      padding-left: 40px;
      width: 40%;
    }
    table.profile td.right {
      padding-left: 40px;
      width: 60%;
    }
    table.item {
      margin: 24px auto 0;
      width: 600px;
    }
    table.item td {
      padding: 10px 0;
      text-align: center;
    }
    table.item td.name {
      width: 136px;
    }
    table.item td.unit-price {
      width: 90px;
    }
    table.item td.quantity {
      width: 30px;
    }
    table.item td.total-price {
      width: 100px;
    }
    </style>
  </head>
  <body>
    <table class="profile">
      <tr>
        <td class="left">No. <%= @tab.sequence.to_s.rjust(6, '0') %></td>
        <td class="right"><%= @tab.entrance_time.strftime('%Y-%m-%d') %></td>
      </tr>
      <tr>
        <td class="left">&nbsp;</td>
        <td class="right"><%= @tab.entrance_time.strftime('%H:%M:%S') %></td>
      </tr>
      <tr>
        <td class="left"><%= @tab.user.name %></td>
        <td class="right">&nbsp;</td>
      </tr>
    </table>
    <table class="item">
      <% @tab.playing_items.each do |playing_item| %>
      <tr>
        <td class="name"><%= playing_item.vacancy.name %>打位 / <%= brac_seconds(playing_item.seconds) %> / <%= playing_item.total_balls / @current_club.balls_per_bucket %>筐</td>
        <td class="unit-price">-</td>
        <td class="quantity">-</td>
        <td class="total-price"><%= brac_price(playing_item.total_price) %></td>
        <td></td>
      </tr>
      <% end %>
      <% @tab.provision_items.each do |provision_item| %>
      <tr>
        <td class="name"><%= provision_item.provision.name %></td>
        <td class="unit-price"><%= brac_price(provision_item.provision.price) %></td>
        <td class="quantity"><%= provision_item.quantity %></td>
        <td class="total-price"><%= brac_price(provision_item.total_price) %></td>
        <td></td>
      </tr>
      <% end %>
      <% @tab.extra_items.each do |extra_item| %>
      <tr>
        <td class="name"><%= te_extra_item_type(extra_item.type) %></td>
        <td class="unit-price">-</td>
        <td class="quantity">-</td>
        <td class="total-price"><%= brac_price(extra_item.price) %></td>
        <td></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>
