<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= javascript_include_tag 'print' %>
    <object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
      <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
    </object>
  </head>
  <body>
    <table id="tab" style="display: none;">
      <tr>
        <td class="left">No. <%= @tab.sequence.to_s.rjust(6, '0') %></td>
        <td class="right"><%= @tab.entrance_time.strftime('%Y-%m-%d') %></td>
      </tr>
      <tr>
        <td class="left">&nbsp;</td>
        <td class="right"><%= @tab.entrance_time.strftime('%H:%M:%S') %></td>
      </tr>
      <tr>
        <td class="left"><%= @tab.user.name %></td>
        <td class="right">&nbsp;</td>
      </tr>
      <% @tab.playing_items.each do |playing_item| %>
      <tr>
        <td class="name"><%= playing_item.vacancy.name %>打位 / <%= brac_seconds(playing_item.seconds) %> / <%= playing_item.total_balls / @current_club.balls_per_bucket %>筐</td>
        <td class="unit-price">-</td>
        <td class="quantity">-</td>
        <td class="total-price"><%= brac_price(playing_item.total_price) %></td>
        <td></td>
      </tr>
      <% end %>
      <% @tab.provision_items.each do |provision_item| %>
      <tr>
        <td class="name"><%= provision_item.provision.name %></td>
        <td class="unit-price"><%= brac_price(provision_item.provision.price) %></td>
        <td class="quantity"><%= provision_item.quantity %></td>
        <td class="total-price"><%= brac_price(provision_item.total_price) %></td>
        <td></td>
      </tr>
      <% end %>
      <% @tab.extra_items.each do |extra_item| %>
      <tr>
        <td class="name"><%= te_extra_item_type(extra_item.type) %></td>
        <td class="unit-price">-</td>
        <td class="quantity">-</td>
        <td class="total-price"><%= brac_price(extra_item.price) %></td>
        <td></td>
      </tr>
      <% end %>
    </table>
    <%= javascript_tag do %>
      var LODOP = = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));
      LODOP 
      LODOP.PRINT_INIT("消费单");
      LODOP.ADD_PRINT_HTM(0, 0, "100%", "100%", document.getElementById('tab').innerHTML);
      LODOP.PRINT();
      window.location.replace('<%= url_for(@tab) %>');
    <% end %>
  </body>
</html>