<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= javascript_include_tag 'print' %>
    <object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0> 
      <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
    </object>
  </head>
  <body>
    <div id="tab" style="width: 182px" >
      <font style="float: left">消费单号</font>
      <font style="float: right">前台支付</font>
      <br />
      <font style="top: 5px; float: left">No. <%= @tab.sequence.to_s.rjust(6, '0') %></font>
      <font style="top: 5px; float: right">dsdsds</font>
      <br />
      <br />
      <%= image_tag('print/point.png') %><font style="top: 5px"> 消费用户</font> 
      <hr style="width: 182px; float: left"/>
      <br />
      <font style="top: 5px; margin-left: 12px"><%= @tab.user.name %></font>
      <br />
      <br />
      <%= image_tag('print/point.png') %><font style="top: 5px"> 消费时间</font> 
      <hr style="width: 182px; float: left"/>
      <br />
      <font style="top: 5px; margin-left: 12px"><%= @tab.entrance_time.strftime('%Y-%m-%d %H:%M') %> - <%= @tab.departure_time.strftime('%H:%M') %></font>
      <br />
      <br />
      <%= image_tag('print/point.png') %><font style="top: 5px"> 消费明细</font> 
      <hr style="width:182px; float:left"/>
      <font style="width: 65px; float: left; text-align: center" size="2px">消费内容</font>
      <font style="width: 52px; float: left; text-align: center" size="2px">小计</font>
      <font style="width: 65px; float: left; text-align: center" size="2px">付款方式</font>
      <hr style="width: 174px; left: 4px"/>
      <% @tab.playing_items.each do |playing_item| %>
      <font style="width: 65px; float: left; text-align: center" size="2px"><%= playing_item.vacancy.name %>打位</font>
      <font style="width: 52px; float: left; text-align: center" size="2px"><%= brac_price(playing_item.total_price) %></font>
      <font style="width: 65px; float: left; text-align: center" size="2px"><%= payment_method_tag(playing_item) %></font>
      <% end %>
      <% @tab.provision_items.each do |provision_item| %>
      <font style="width: 65px; float: left; text-align: center" size="2px"><%= provision_item.provision.name %></font>
      <font style="width: 52px; float: left; text-align: center" size="2px"><%= brac_price(provision_item.total_price) %></font>
      <font style="width: 65px; float: left; text-align: center" size="2px"><%= payment_method_tag(provision_item) %></font>
      <% end %>
      <% @tab.extra_items.each do |extra_item| %>
      <font style="width: 65px; float: left; text-align: center" size="2px"><%= provision_item.provision.name %></font>
      <font style="width: 52px; float: left; text-align: center" size="2px"><%= brac_price(extra_item.price) %></font>
      <font style="width: 65px; float: left; text-align: center" size="2px"><%= payment_method_tag(extra_item) %></font>
      <% end %>
    </div>
    <%= javascript_tag do %>
      var LODOP = getLodop(document.getElementById('LODOP_OB'), document.getElementById('LODOP_EM'));
      LODOP.PRINT_INIT("消费单");
      LODOP.ADD_PRINT_HTM(0, 0, "100%", "100%", document.getElementById('tab').innerHTML);
      LODOP.PRINT();
      window.location.replace('<%= url_for(@tab) %>');
    <% end %>
  </body>
</html>