<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> 消费单管理 <span>查看</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">消费单信息</h4>
    </div>
    <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'tab.sequence' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, "No. #{@tab.sequence.to_s.rjust(6, '0')}", readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'tab.member' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @tab.user.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'tab.operator' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @tab.operator.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'tab.state' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @tab.aasm.human_state, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'tab.created_at' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, brac_datetime(@tab.created_at), readonly: true, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="panel-footer">
      <%= link_to '返回', progressing_tabs_path, class: 'btn btn-default' %>&nbsp;
      <% if @tab.progressing? %>
      <%= link_to '结账', checkout_tab_path(@tab), class: 'btn btn-success' %>&nbsp;
      <%= link_to '取消', cancel_tab_path(@tab), method: :put, data: { confirm: '确定要取消该消费单吗' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
  <% @tab.vacancies.each do |vacancy| %>
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title"><%= vacancy.name %>打位</h4>
    </div>
    <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'playing_item.started_at' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, brac_datetime(@tab.playing_items.by_vacancy(vacancy).started_at), readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'playing_item.finished_at' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, brac_datetime(@tab.playing_items.by_vacancy(vacancy).finished_at), readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'playing_item.balls' %></label>
          <div class="col-sm-6">
            <% if @tab.playing_items.by_vacancy(vacancy).balls.empty? %>
            <p class="mt10">无</p>
            <% else %>
            <% @tab.playing_items.by_vacancy(vacancy).balls.each do |ball| %>
            <div class="input-group input-group-sm mt5 mb5">
              <span class="input-group-addon"><%= ball.created_at.strftime('%H:%M') %></span>
              <%= text_field_tag nil, "#{ball.amount_as_bucket}筐", readonly: true, class: 'form-control' %>
              <span class="input-group-btn">
                <%= link_to '撤销', ball, method: :delete, data: { confirm: '确定要撤销吗？' }, class: 'btn btn-danger' %>
              </span>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% unless @tab.playing_items.by_vacancy(vacancy).finished? %>
    <div class="panel-footer">
      <div class="btn-group mt10">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          加球 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% (1..6).each do |i| %>
          <%= content_tag :li, link_to("#{i}筐", playing_item_balls_path(@tab.playing_items.by_vacancy(vacancy), Ball.new, amount: @current_club.balls_per_bucket * i), method: :post) %>
          <% end %>
        </ul>
      </div>&nbsp;
      <%= link_to '结束', finish_playing_item_path(@tab.playing_items.by_vacancy(vacancy)), method: :put, data: { confirm: '确定要结束该打位的计费吗？' }, class: 'btn btn-danger' %>
    </div>
    <% end %>
  </div>
  <% end %>
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">餐饮消费</h4>
    </div>
    <% if @tab.provision_items.blank? %>
    <div class="panel-body">
      无任何消费
    </div>
    <% else %>
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb30">
        <thead>
          <tr>
            <th><%= brac_arat 'provision_item.provision' %></th>
            <th><%= brac_arat 'provision_item.price' %></th>
            <th><%= brac_arat 'provision_item.quantity' %></th>
            <th><%= brac_arat 'provision_item.total_price' %></th>
            <th><%= brac_arat 'provision_item.created_at' %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tab.provision_items.each do |provision_item| %>
          <tr>
            <td><%= provision_item.provision.name %></td>
            <td><%= brac_price(provision_item.price) %></td>
            <td><%= provision_item.quantity %></td>
            <td><%= brac_price(provision_item.total_price) %></td>
            <td><%= provision_item.created_at.strftime('%H:%M') %></td>
            <td class="table-action">
              <% if @tab.progressing? %>
              <%= link_to raw('<span class="label label-danger">撤销</span>'), provision_item, method: :delete, data: { confirm: '确定要删除该笔消费吗？' } %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
    <div class="panel-footer">
      <% if @tab.progressing? %>
      <%= link_to '点餐', new_tab_provision_item_path(@tab), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">其它消费</h4>
    </div>
    <% if @tab.extra_items.blank? %>
    <div class="panel-body">
      无任何消费
    </div>
    <% else %>
    <div class="table-responsive">
      <table class="table table-bordered table-striped mb30">
        <thead>
          <tr>
            <th><%= brac_arat 'extra_item.type' %></th>
            <th><%= brac_arat 'extra_item.price' %></th>
            <th><%= brac_arat 'extra_item.remarks' %></th>
            <th><%= brac_arat 'extra_item.created_at' %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @tab.extra_items.each do |extra_item| %>
          <tr>
            <td><%= te_extra_item_type(extra_item.type) %></td>
            <td><%= brac_price(extra_item.price) %></td>
            <td><%= extra_item.remarks %></td>
            <td><%= extra_item.created_at.strftime('%H:%M') %></td>
            <td class="table-action">
              <% if @tab.progressing? %>
              <%= link_to raw('<span class="label label-danger">撤销</span>'), extra_item, method: :delete, data: { confirm: '确定要删除该笔消费吗？' } %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
    <div class="panel-footer">
      <% if @tab.progressing? %>
      <%= link_to '新增', new_tab_extra_item_path(@tab), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>