<div class="pageheader">
  <h2><i class="fa fa-list"></i> 餐饮分类管理 <span>列表</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="table-responsive">
    <table class="table table-primary table-bordered table-striped mb30">
      <thead>
        <tr>
          <th><%= brac_arat 'provision_category.name' %></th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="2" class="table-paginate"><%= brac_paginate @provision_categories %></td>
        </tr>
      </tfoot>
      <tbody>
        <% @provision_categories.each do |provision_category| %>
        <tr>
          <td><%= provision_category.name %></td>
          <td class="table-action">
            <%= link_to raw('<i class="fa fa-file-text-o"></i>'), provision_category %>
            <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_provision_category_path(provision_category) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>