<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> 餐饮分类管理 <span>查看</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel">
    <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'provision_category.name' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @provision_category.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="panel-footer">
      <%= link_to '返回', provision_categories_path, class: 'btn btn-default' %>&nbsp;
      <%= link_to '编辑', edit_provision_category_path(@provision_category), class: 'btn btn-primary' %>&nbsp;
    </div>
  </div>
</div>