<div class="pageheader">
  <h2><i class="fa fa-list"></i> 版本管理 <span>列表</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-primary table-striped mb30">
          <thead>
            <tr>
              <th><%= brac_arat 'version.name' %></th>
              <th><%= brac_arat 'version.build' %></th>
              <th><%= brac_arat 'version.state' %></th>
              <th><%= brac_arat 'version.created_at' %></th>
              <th></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td colspan="5" class="table-paginate"><%= brac_paginate @versions %></td>
            </tr>
          </tfoot>
          <tbody>
            <% @versions.each do |version| %>
            <tr>
              <td><%= version.name %></td>
              <td><%= version.build %></td>
              <td><%= version.state %></td>
              <td><%= version.created_at %></td>
              <td class="table-action">
                <%= link_to raw('<i class="fa fa-file-text-o"></i>'), [:admin, version] %>
                <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_admin_version_path(version) %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>