<div class="pageheader">
  <h2><i class="fa fa-pencil-square-o"></i> 俱乐部管理 <span>新建</span></h2>
</div>
<div class="contentpanel">
  <%= render "admin/commons/error_messages", target: @club %>
  <div class="panel panel-default">
    <%= form_for [:admin, @club], html: { class: 'form-horizontal form-bordered' } do |f| %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'club.name' %></label>
          <div class="col-sm-6">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'club.code' %></label>
          <div class="col-sm-6">
            <%= f.text_field :code, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'club.position' %></label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><%= brac_arat 'club.longitude' %></span>
              <%= f.text_field :longitude, class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><%= brac_arat 'club.latitude' %></span>
              <%= f.text_field :latitude, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'club.address' %></label>
          <div class="col-sm-6">
            <%= f.text_field :address, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <%= f.submit '提交', class: 'btn btn-primary' %>&nbsp;
            <%= link_to '返回', admin_clubs_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>