<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> 餐饮管理 <span>查看</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel">
    <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'announcement.title' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @announcement.title, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'announcement.content' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @announcement.content, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'announcement.published_at' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, brac_datetime(@announcement.published_at), readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'announcement.state' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @announcement.aasm.human_state, readonly: true, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="panel-footer">
      <%= link_to '返回', announcements_path, class: 'btn btn-default' %>&nbsp;
    </div>
  </div>
</div>