<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> 课时管理 <span>查看</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel">
    <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'lesson.coach' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @lesson.course.coach.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'lesson.course' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @lesson.course.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'lesson.name' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @lesson.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'lesson.started_at' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, brac_datetime(@lesson.started_at), readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'lesson.finished_at' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, brac_datetime(@lesson.finished_at), readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'lesson.maximum_students' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @lesson.maximum_students, readonly: true, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="panel-footer">
      <%= link_to '返回', @lesson.course, class: 'btn btn-default' %>&nbsp;
      <%= link_to '编辑', edit_lesson_path(@lesson), class: 'btn btn-primary' %>&nbsp;
    </div>
  </div>
</div>