<div class="pageheader">
  <h2><i class="fa fa-file-excel-o"></i> 数据导出</h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-primary table-striped table-bordered">
          <thead>
            <tr>
              <th>球场</th>
              <th>卡类别</th>
              <th>卡名称</th>
              <th>卡号</th>
              <th>余额</th>
              <th>会员姓名</th>
              <th>会员电话</th>
              <th>开卡日期</th>
              <th>到期日期</th>
            </tr>
          </thead>
          <tbody>
            <% Club.find([1, 4]).each do |club| %>
            <% club.members.each do |member| %>
            <tr>
              <td><%= club.name %></td>
              <td><%= te_card_type(member.card.type) %></td>
              <td><%= member.card.name %></td>
              <td><%= member.number %></td>
              <td><%= member.balance %></td>
              <td><%= member.users.first.name %></td>
              <td><%= member.users.first.phone %></td>
              <td><%= brac_date(member.created_at) %></td>
              <td><%= brac_date(member.expired_at) %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>