<div class="pageheader">
  <h2><i class="fa fa-pencil-square-o"></i> 打位管理 <span>批量新建</span></h2>
</div>
<div class="contentpanel">
  <%= render "op/commons/error_messages", target: @nar_form %>
  <div class="panel panel-default">
    <%= form_for @nar_form, url: bulk_create_vacancies_path, html: { class: 'form-horizontal form-bordered' } do |f| %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_amat 'op/bulk_create_vacancies.prefix' %></label>
          <div class="col-sm-6">
            <%= f.text_field :prefix, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_amat 'op/bulk_create_vacancies.start_number' %> <span class="asterisk">*</span></label></label>
          <div class="col-sm-6">
            <%= f.text_field :start_number, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_amat 'op/bulk_create_vacancies.end_number' %> <span class="asterisk">*</span></label></label>
          <div class="col-sm-6">
            <%= f.text_field :end_number, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_amat 'op/bulk_create_vacancies.suffix' %></label>
          <div class="col-sm-6">
            <%= f.text_field :suffix, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'vacancy.tags' %> <span class="asterisk">*</span></label></label>
          <div class="col-sm-6">
            <%= f.text_area :tags, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'vacancy.location' %> <span class="asterisk">*</span></label></label>
          <div class="col-sm-6">
            <%= f.select :location, vacancy_location_options, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'vacancy.price_per_hour' %></label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><%= brac_arat 'vacancy.usual_price' %></span>
              <%= f.text_field :usual_price_per_hour, class: 'form-control' %>
              <span class="input-group-addon">元</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><%= brac_arat 'vacancy.holiday_price' %></span>
              <%= f.text_field :holiday_price_per_hour, class: 'form-control' %>
              <span class="input-group-addon">元</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'vacancy.price_per_ball' %></label>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><%= brac_arat 'vacancy.usual_price' %></span>
              <%= f.text_field :usual_price_per_ball, class: 'form-control' %>
              <span class="input-group-addon">元</span>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="input-group">
              <span class="input-group-addon"><%= brac_arat 'vacancy.holiday_price' %></span>
              <%= f.text_field :holiday_price_per_ball, class: 'form-control' %>
              <span class="input-group-addon">元</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <%= submit_tag '提交', class: 'btn btn-primary' %>&nbsp;
            <%= link_to '返回', vacancies_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    jQuery(document).ready(function(){
      $('#op_bulk_create_vacancies_tags').tagsInput({'width': 'auto', 'defaultText': '添加标签'});
      $('#op_bulk_create_vacancies_location').chosen({'width': '100%', 'white-space': 'nowrap'});
    });
  </script>
<% end %>