<div class="pageheader">
  <h2><i class="fa fa-list"></i> 打位管理 <span>列表</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="table-responsive">
    <table class="table table-primary table-bordered table-striped mb30">
      <thead>
        <tr>
          <th><%= brac_arat 'vacancy.name' %></th>
          <th><%= brac_arat 'vacancy.location' %></th>
          <th><%= brac_arat 'vacancy.tags' %></th>
          <th><%= brac_arat 'vacancy.price' %></th>
          <th><%= brac_arat 'vacancy.state' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @vacancies.each do |vacancy| %>
        <tr>
          <td><%= vacancy.name %></td>
          <td><%= te_vacancy_location(vacancy.location) %></td>
          <td class="vacancy-tags"><%= vacancy_tags(vacancy.tags) %></td>
          <td><%= vacancy_price(vacancy) %></td>
          <td><%= vacancy.aasm.human_state %></td>
          <td class="table-action">
            <%= link_to raw('<i class="fa fa-file-text-o"></i>'), vacancy %>
            <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_vacancy_path(vacancy) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>