<div class="pageheader">
  <h2><i class="fa fa-pencil-square-o"></i> 打位管理 <span>新建</span></h2>
</div>
<div class="contentpanel">
  <%= render "op/commons/error_messages", target: @vacancy %>
  <div class="panel panel-default">
    <%= form_for @vacancy, html: { class: 'form-horizontal form-bordered' } do |f| %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'vacancy.name' %></label>
          <div class="col-sm-6">
            <%= f.text_field :name, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'vacancy.floor' %></label>
          <div class="col-sm-6">
            <%= f.select :floor, 1..@current_club.floors, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <%= f.submit '提交', class: 'btn btn-primary' %>&nbsp;
            <%= link_to '返回', vacancies_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    jQuery(document).ready(function(){
      $('#vacancy_floor').chosen({'width': '100%', 'white-space': 'nowrap'});
    });
  </script>
<% end %>