<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> 餐饮管理 <span>查看</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel">
    <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'provision.category' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @provision.category.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'provision.serial_number' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @provision.serial_number, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'provision.name' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @provision.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'provision.image' %></label>
          <div class="col-sm-6">
            <%= image_tag @provision.image.w290_h220_fl_q80.url, class: 'img-responsive' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'provision.price' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @provision.price, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'provision.state' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @provision.aasm.human_state, readonly: true, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="panel-footer">
      <%= link_to '返回', provisions_path, class: 'btn btn-default' %>&nbsp;
      <%= link_to '编辑', edit_provision_path(@provision), class: 'btn btn-primary' %>&nbsp;
    </div>
  </div>
</div>