<div class="pageheader">
  <h2><i class="fa fa-list"></i> 学员管理 <span>列表</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="table-responsive">
    <table class="table table-primary table-bordered table-striped mb30">
      <thead>
        <tr>
          <th><%= brac_arat 'student.user' %></th>
          <th><%= brac_arat 'student.coach' %></th>
          <th><%= brac_arat 'student.course' %></th>
          <th><%= brac_arat 'course.type' %></th>
          <th><%= brac_arat 'student.created_at' %></th>
          <th><%= brac_arat 'student.state' %></th>
          <th></th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="5" class="table-paginate"><%= brac_paginate @students %></td>
        </tr>
      </tfoot>
      <tbody>
        <% @students.each do |student| %>
        <tr>
          <td><%= student.user.name %></td>
          <td><%= student.course.coach.name %></td>
          <td><%= student.course.name %></td>
          <td><%= te_course_type(student.course.type) %></td>
          <td><%= brac_datetime(student.created_at) %></td>
          <td><%= student.aasm.human_state %></td>
          <td class="table-action">
            <%= link_to raw('<i class="fa fa-file-text-o"></i>'), student %>
            <%= link_to raw('<i class="fa fa-pencil"></i>'), edit_student_path(student) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>