<div class="pageheader">
  <h2><i class="fa fa-file-text-o"></i> 学员管理 <span>查看</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel">
    <%= form_tag nil, class: 'form-horizontal form-bordered' do %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'student.user' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @student.user.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'student.coach' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @student.course.coach.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'student.course' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @student.course.name, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'student.price' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, brac_price(@student.price), readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'student.total_lessons' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @student.total_lessons, readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'student.expired_at' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, brac_date(@student.expired_at), readonly: true, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'student.state' %></label>
          <div class="col-sm-6">
            <%= text_field_tag nil, @student.aasm.human_state, readonly: true, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="panel-footer">
      <%= link_to '返回', students_path, class: 'btn btn-default' %>&nbsp;
      <%= link_to '编辑', edit_student_path(@student), class: 'btn btn-primary' %>&nbsp;
    </div>
  </div>
</div>