<div class="pageheader">
  <h2><i class="fa fa-list"></i> 会员管理 <span>会员列表</span></h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <ul class="letter-list">
    <% 'a'.upto('z') do |initial| %>
    <li><%= link_to initial, initial_users_path %></li>
    <% end %>
  </ul>
  <div class="mb30"></div>
  <div class="table-responsive">
    <table class="table table-primary table-bordered table-striped mb30">
      <thead>
        <tr>
          <th><%= brac_arat 'user.name' %></th>
          <th><%= brac_arat 'user.gender' %></th>
          <th><%= brac_arat 'user.phone' %></th>
          <th><%= brac_arat 'user.member_count' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= te_user_gender(user.gender) %></td>
          <td><%= user.phone %></td>
          <td><%= user.members.by_club(@current_club).count %>张</td>
          <td class="table-action">
            <%= link_to raw('<i class="fa fa-file-text-o"></i>'), user %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>