<div class="pageheader">
  <h2><i class="fa fa-pencil-square-o"></i> 会员管理 <span>办理会籍</span></h2>
</div>
<div class="contentpanel">
  <%= render "op/commons/error_messages", target: @nar_form %>
  <div class="panel panel-default">
    <%= form_for @nar_form, url: members_path, html: { class: 'form-horizontal form-bordered' } do |f| %>
      <div class="panel-body panel-body-nopadding">
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_amat 'op/create_member.phone' %> <span class="asterisk">*</span></label>
          <div class="col-sm-4">
            <div class="input-group input-group-lg">
              <span class="input-group-addon">+86</span>
              <%= f.text_field :phone, class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="mt10 hide text-danger" id="uniqueness_tip"><i class="fa fa-exclamation-circle"></i> 用户已存在</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_amat 'op/create_member.name' %> <span class="asterisk">*</span></label>
          <div class="col-sm-2">
            <div class="input-group">
              <span class="input-group-addon"><%= brac_amat 'op/create_member.last_name' %></span>
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="input-group">
              <span class="input-group-addon"><%= brac_amat 'op/create_member.first_name' %></span>
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_amat 'op/create_member.gender' %> <span class="asterisk">*</span></label>
          <div class="col-sm-6">
            <div class="rdio rdio-default mt5">
              <%= f.radio_button :gender, :male, checked: true %>
              <label for="op_create_member_gender_male"><%= brac_amat 'op/create_member.male' %></label>
            </div>
            <div class="rdio rdio-default">
              <%= f.radio_button :gender, :female %>
              <label for="op_create_member_gender_female"><%= brac_amat 'op/create_member.female' %></label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_amat 'op/create_member.card' %> <span class="asterisk">*</span></label>
          <div class="col-sm-6">
            <%= f.collection_select :card_id, @current_club.cards, :id, :name %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_amat 'op/create_member.number' %> <span class="asterisk">*</span></label>
          <div class="col-sm-6">
            <%= f.text_field :number, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_amat 'op/create_member.salesman' %></label>
          <div class="col-sm-6">
            <%= f.select :salesman_id, salesmen_options, include_blank: '无' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <%= f.submit '提交', class: 'btn btn-primary' %>&nbsp;
            <%= link_to '返回', members_path, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    jQuery(document).ready(function(){
      $("#op_create_member_phone").mask("999 - 9999 - 9999");
      $('#op_create_member_card_id').chosen({'width': '100%', 'white-space': 'nowrap'});
      $('#op_create_member_salesman_id').chosen({'width': '100%', 'white-space': 'nowrap'});
      $("#op_create_member_phone").on('change', function() {
        if((new RegExp(/^1[0-9]{2} - [0-9]{4} - [0-9]{4}$/).test($(this).val()))) {
          $.ajax({
            dataType: 'json',
            url: '/users/async_uniqueness_check?phone=' + $(this).val().replace(/[ -]/g, ''),
            success: function(data) {
              if(data.found) {
                $('#op_create_member_first_name').val(data.first_name);
                $('#op_create_member_first_name').prop('disabled', true);
                $('#op_create_member_last_name').val(data.last_name);
                $('#op_create_member_last_name').prop('disabled', true);
                $('#op_create_member_gender_' + data.gender).prop('checked', 'checked');
                $('#op_create_member_gender_male').prop('disabled', true);
                $('#op_create_member_gender_female').prop('disabled', true);
                $('#uniqueness_tip').removeClass('hide');
              } else {
                $('#op_create_member_first_name').val('');
                $('#op_create_member_first_name').prop('disabled', false);
                $('#op_create_member_last_name').val('');
                $('#op_create_member_last_name').prop('disabled', false);
                $('#op_create_member_gender_male').prop('disabled', false);
                $('#op_create_member_gender_female').prop('disabled', false);
                $('#uniqueness_tip').addClass('hide');
              }
            }
          });
        }
      });
    });
  </script>
<% end %>