<div class="pageheader">
  <h2><i class="fa fa-tags"></i> 我的信息</h2>
</div>
<div class="contentpanel">
  <%= brac_flash %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">修改密码</h4>
    </div>
    <div class="panel-body panel-body-nopadding">
      <%= form_tag update_password_profile_path, method: :put, class: 'form-horizontal form-bordered' do %>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'operator.original_password' %></label>
          <div class="col-sm-6">
            <%= password_field_tag :orginal_password, nil, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'operator.new_password' %></label>
          <div class="col-sm-6">
            <%= password_field_tag :new_password, nil, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label"><%= brac_arat 'operator.password_confirmation' %></label>
          <div class="col-sm-6">
            <%= password_field_tag :password_confirmation, nil, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12 text-center">
            <%= submit_tag '提交', class: 'btn btn-primary' %>&nbsp;
            <input type="reset" value="重置" class="btn" />
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>