<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>iGolf CMS</title>
    <%= stylesheet_link_tag 'bracket', media: 'all', 'data-turbolinks-track' => true %>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="preloader">
      <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>
      <div class="leftpanel">
        <div class="logopanel">
          <h1><span>[</span> iGolf CMS<span>]</span></h1>
        </div>
        <div class="leftpanelinner">    
          <h5 class="sidebartitle">Navigation</h5>
          <ul class="nav nav-pills nav-stacked nav-bracket">
            <li><%= link_to raw('<i class="fa fa-home"></i> <span>控制面板</span>'), admin_dashboard_path %></li>
            <li class="nav-parent"><a href=""><i class="fa fa-map-marker"></i> <span>俱乐部管理</span></a>
              <ul class="children">
                <li><%= link_to raw("<i class=\"fa fa-caret-right\"></i> 俱乐部列表"), admin_clubs_path %></li>
                <li><%= link_to raw("<i class=\"fa fa-caret-right\"></i> 创建俱乐部"), new_admin_club_path %></li>
              </ul>
            </li>
            <li class="nav-parent"><a href=""><i class="fa fa-code-fork"></i> <span>版本管理</span></a>
              <ul class="children">
                <li><%= link_to raw("<i class=\"fa fa-caret-right\"></i> 版本列表"), admin_versions_path %></li>
                <li><%= link_to raw("<i class=\"fa fa-caret-right\"></i> 创建版本"), new_admin_version_path %></li>
              </ul>
            </li>
          </ul>
          <!--div class="infosummary">
            <h5 class="sidebartitle">Information Summary</h5>    
            <ul>
              <li>
                <div class="datainfo">
                  <span class="text-muted">今日订单数</span>
                  <h4>526</h4>
                </div>
                <div id="sidebar-chart" class="chart"></div>   
              </li>
              <li>
                <div class="datainfo">
                  <span class="text-muted">本周订单数</span>
                  <h4>618</h4>
                </div>
                <div id="sidebar-chart2" class="chart"></div>   
              </li>
            </ul>
          </div-->
        </div>
      </div>
      <div class="mainpanel">
        <div class="headerbar">
          <a class="menutoggle"><i class="fa fa-bars"></i></a>
          <div class="header-right">
            <ul class="headermenu">
              <li>
                <div class="btn-group">
                  <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                    <span class="small">欢迎您，<%= session['administrator']['name'] %></span>
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                    <li><%= link_to raw('<i class="glyphicon glyphicon-user"></i> 我的信息'), edit_admin_profile_path %></li>
                    <li><%= link_to raw('<i class="glyphicon glyphicon-cog"></i> 修改密码'), edit_password_admin_profile_path %></li>
                    <li><%= link_to raw('<i class="glyphicon glyphicon-log-out"></i> 退出登录'), admin_sign_out_path %></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <%= yield %>
      </div>
    </section>
    <%= javascript_include_tag 'bracket', 'data-turbolinks-track' => true %>
    <%= content_for :javascript %>
  </body>
</html>